* text=auto

# Always use LF
core.autocrlf=lf

.editorconfig
.gitattributes export-ignore
.gitignore export-ignore
.php_cs export-ignore
Makefile export-ignore
.github export-ignore
phpunit.xml.dist export-ignore
/tests export-ignore
/docs export-ignore
