language: php

php:
    - 5.3
    - 5.4
    - 5.5
    - 5.6
    - 7.0
    - hhvm

matrix:
    include:
        - php: 5.3
          env: DEPENDENCIES='low'
        - php: 7.0
          env: DEPENDENCIES='dev'
    allow_failures:
        - env: DEPENDENCIES='dev'
    fast_finish: true

sudo: false

cache:
    directories:
        - $HOME/.composer/cache

#before_install:
#    - composer selfupdate

install:
    - export COMPOSER_ROOT_VERSION=dev-master
    - if [ "$DEPENDENCIES" == "dev" ]; then perl -pi -e 's/^}$/,"minimum-stability":"dev"}/' composer.json; fi;
    - if [ "$DEPENDENCIES" != "low" ]; then travis_retry composer update; fi;
    - if [ "$DEPENDENCIES" == "low" ]; then travis_retry composer update --prefer-lowest; fi;

script:
    - vendor/bin/phpunit --configuration phpunit.xml.dist
