language: php

env:
    - SYMFONY_VERSION="2.1.*"
    - SYMFONY_VERSION="2.2.*"
    - SYMFONY_VERSION="2.3.*"
    - SYMFONY_VERSION="dev-master"

before_script:
  - composer require symfony/framework-bundle:${SYMFONY_VERSION} symfony/console:${SYMFONY_VERSION} symfony/validator:${SYMFONY_VERSION}
  - composer install --dev

php:
  - 5.3
  - 5.4
  - 5.5
