includes:
    - /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    autoload_files:
        - vendor/autoload.php
        - vendor/bin/.phpunit/phpunit-7.5.6-0/vendor/autoload.php # Pain is your friend.... (at least it works for now)
    level: 5
    paths:
        - ./src
        - ./tests

    ignoreErrors:
        #- '#__construct\(\) does not call parent constructor from .+#'
        #- '#Access to an undefined property Symfony\\Component\\Validator\\Constraint\:\:#'
        - "#Casting to string something that's already string#"

        # Tests
        - '#Parameter \#1 \$password of method Rollerworks\\Component\\PasswordStrength\\Blacklist\\[a-zA-Z]+\:\:isBlacklisted\(\) expects string#'
        - '#Call to an undefined method Prophecy\\Prophecy\\ObjectProphecy::[a-zA-Z0-9_]+\(\)#'
