includes:
    - /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    level: 5
    paths:
        - ./src

    ignoreErrors:
        #- '#__construct\(\) does not call parent constructor from .+#'
        #- '#Access to an undefined property Symfony\\Component\\Validator\\Constraint\:\:#'
        - "#Casting to string something that's already string#"

        # Tests
        - '#Parameter \#1 \$password of method Rollerworks\\Component\\PasswordStrength\\Blacklist\\[a-zA-Z]+\:\:isBlacklisted\(\) expects string#'
        - '#Call to an undefined method Prophecy\\Prophecy\\ObjectProphecy::[a-zA-Z0-9_]+\(\)#'
