<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.4/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         beStrictAboutOutputDuringTests="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         failOnWarning="true"
         colors="true"
         cacheDirectory=".phpunit.cache"
>
    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="date.timezone" value="UTC"/>
        <ini name="intl.default_locale" value="en"/>
        <ini name="intl.error_level" value="0"/>
        <ini name="memory_limit" value="-1"/>
        <ini name="default_charset" value="UTF-8"/>

        <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled=1" />
    </php>

    <testsuites>
        <testsuite name="RollerworksPasswordStrength Validator Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <coverage />

    <source>
        <include>
            <directory>src/</directory>
        </include>
        <exclude>
            <directory>src/Resources/</directory>
            <directory>vendor/</directory>
            <directory>tests/</directory>
        </exclude>
    </source>
</phpunit>
