name: Composer Validate

on:
    push:
        paths:
            - 'composer.json'
    pull_request:
        paths:
            - 'composer.json'

concurrency:
    group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
    cancel-in-progress: true

permissions:
    contents: read

jobs:
    composer-sync:
        name: 'Composer validation'
        runs-on: ubuntu-24.04
        env:
            php-version: '8.4'

        steps:
            -
                name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ env.php-version }}
                    ini-values: "memory_limit=-1"
                    coverage: none

            -
                name: Checkout target branch
                uses: actions/checkout@v6

            -
                name: 'Install dependencies'
                run: |
                    COMPOSER_HOME="$(composer config home)"
                    ([ -d "$COMPOSER_HOME" ] || mkdir "$COMPOSER_HOME") && cp .github/composer-config.json "$COMPOSER_HOME/config.json"
                    composer global require -q "ergebnis/composer-normalize"
                    composer install --no-progress

            -
                name: 'Normalized composer.json'
                run: |
                    echo "composer.json"
                    composer validate
                    composer normalize
