name: CI
on:
    push:
        branches:
            - '2.0'
    pull_request:
        branches:
            - '2.0'

jobs:

    test:

        name: 'PHPUnit with PHP ${{ matrix.php-version }} / Symfony ${{ matrix.symfony-version }}'
        runs-on: ubuntu-latest

        strategy:
            fail-fast: false
            matrix:
                include:
                    -
                        php-version: '8.2'
                        composer-options: '--prefer-stable'
                        symfony-version: '^6.4'

                    -
                        php-version: '8.2'
                        composer-options: '--prefer-stable'
                        symfony-version: '^7.4'

                    -
                        php-version: '8.4'
                        composer-options: '--prefer-stable'
                        symfony-version: '^8.0'

                    -
                        php-version: '8.5'
                        composer-options: '--prefer-stable'
                        symfony-version: '^8.0'
        steps:
            -
                name: Checkout
                uses: actions/checkout@v6

            -
                name: 'Set up PHP'
                uses: 'shivammathur/setup-php@v2'
                with:
                    php-version: '${{ matrix.php-version }}'
                    coverage: none
                env:
                    update: true

            -
                name: 'Install dependencies'
                env:
                    COMPOSER_OPTIONS: '${{ matrix.composer-options }}'
                    SYMFONY_REQUIRE: '${{ matrix.symfony-version }}'
                run: |
                    rm -f composer.lock
                    composer global config --no-plugins allow-plugins.symfony/flex true
                    composer global require --no-progress --no-scripts --no-plugins symfony/flex
                    composer update --no-progress --no-interaction --optimize-autoloader $COMPOSER_OPTIONS

            -
                name: Run Tests
                run: make phpunit
